.about-answer{
    padding-left: 20px;
    color: #ccc;
}

.skill {
    border: 2px solid #a1a1ce; 
    border-radius: 10px; 
    width: 80px; 
    display: inline-block;
    margin-right: 10px; 
    margin-bottom: 5px;
    text-align: center;
}

a {
    color: #a1a1ce;
}

a:hover {
    text-decoration: underline;
    color: #a1a1ce;
}

@media screen and (max-width : 510px) {
    .col-md-7 {
        max-width: none !important;
        width: auto !important;
        flex: none !important;
        margin-right: 5px !important;
        margin-left: 5px !important;
    } 
}